

.show{
  display: flex;
  width: 95%;
  height: 90vh;
  background-color: antiquewhite;
  margin: 1em auto;

  &__left {
    width: 45%;
    position: relative;

    &--video {
      width: 6em;
      height: 6em;
      border-radius: 16em;
      background-color: white;
      position: relative;
      top: -20px;
      left: -20px;
      overflow: hidden;


      &--a {
        position: absolute;
        top: -30px;
        left: -30px;
        margin: auto;
        color: red;
        font-size: 10rem;
        border-radius: 50%;
      
      }
    }

  }

  &__right{
width: 30%;

  }
}


