// general
$main-background : #DF966D;
$second-background : #FFE8D2;
$classic-white : #fff;
$classic-black : #000;

// about page
$about-button : #66E39C;
$about-number : rgba(255, 255, 255, 0.1);
$hover-grey: #ccc;

// home page
$home-button: #7f00ff;

// navbar
$dark-grey: rgba(0, 0, 0, 0.3);





