.navbar {
  width: 100%;
  height: fit-content;

  // to make the burger disapeat in desktop version 
  @media (min-width: 650px) {
    .hamburger {
      display: none;
    }
  }

// menu items styling
  ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  ul li {
    list-style-type: none;
  }

}
