  @media (min-width: 300px) {
    .navbar {
      padding-left: 2rem;
    }

    // menu items styling
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }

    li {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
  }

  @media (min-width: 650px) {
    .navbar {
      width: 100%;
      height: fit-content;
    }
    
      // to make the burger disapeat in desktop version 
    .hamburger {
      display: none;
    }

  }


