@media (min-width: 279px) {
  .navbar {
    width: 100%;
    height: fit-content;
  }

  // .navbar-open {
  //   background-color: #FFE8D2;
  //   opacity: 0.5;
  // }


  .ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .list-item {
    text-transform: uppercase;
    font-family: 'Amatic SC', 'Sans serif';
    font-weight: bold;
// <<<<<<< header-footer-styling
    font-size: 2.25rem;
// =======
    font-size: 1.75rem;
// >>>>>>> mergeComponent
    color: rgba(0, 0, 0, 0.3);
    list-style-type: none;
    text-decoration: none;
  }

  .li {
    padding: 3rem;
  }
// <<<<<<< header-footer-styling

  .ul-open, .ul-close {
    background-color: #DF966D;
    list-style: none;
     display: flex;
  }

// =======

  .ul-open, .ul-close {
    list-style: none;
     display: flex;
  }

  .active {
    color: black;
  }

// >>>>>>> mergeComponent
  .list-item:hover {
    color: black;
    transition: all 0.5s ease-in-out;
  }
    
  .icon {
    margin-left: 37%;
    // color: rgba(0, 0, 0, 0.3);
  }

  .login-item {
    margin-bottom: 4.6em;
    // margin-left: 2.5em;
  }
// <<<<<<< header-footer-styling
// =======

  .hamburger {
    margin-left: 2rem;
  }
// >>>>>>> mergeComponent
.button_logOut{
  background-color: #DF966D;
  text-transform: uppercase;
  font-family: 'Amatic SC', 'Sans serif';
  font-weight: bold;
  font-size: 1.75rem;
  border: none;
  // background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
}
}
@media (min-width: 1079px) {
    .hamburger {
      display: none;
    }

  .login-item {
    margin-bottom: 2.5em;
  }
// <<<<<<< header-footer-styling
// =======
.button_logOut{

  font-size: 2.5rem;
  
}
  .list-item {
    font-size: 2.5rem;
  }
// >>>>>>> mergeComponent
}

@media (max-width: 1078px) {
  .navbar-open {
    height: fit-content;
  }

  .nav-close {
    display: none;
  }

  .ul-open {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    height : 100%;
    transition: 1s max-height 0.3s;
  }

  .li {
    padding: 1.25em;
  }


  .login-item {
    margin: 1.5em 1.5em 1.5em 1.5em;
  }

}


 