@use 'src/styles/vars';

.footer  {

  margin-top: 2em;

  @media (min-width: 300px) {
    background-color:#FFE8D2;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: 1rem;

    .footer-item {
      list-style-type: none;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.3);
      font-size: 1.5rem;
      font-family: 'Amatic SC', 'Sans serif';
      font-weight: bold;
      padding: 0.25em;
    }

    .footer-item:hover {
      color: black;
      transition: all 0.5s ease-in-out;
    }
  }

  @media (min-width: 650px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .footer-item {
      font-size: 2em;
    }
  }

}
