@use 'src/styles/vars';

.footer  {

  @media (min-width: 300px) {
    background-color: vars.$peach-color;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-top: 2px dotted black;
    padding-top: 1rem;

    &-links {
      padding: 1em

    }
  }

  @media (min-width: 650px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }


}
