.arriere {
   width: 100%;
}

.milieu{
    position: absolute;
    left: 3%;
    width: 95%;
    top: 4%;
    
}
.devant{
    position: absolute;
    width: 40%;
    top: 7%;
    right: -20%;
}



.left{
    position: absolute;
    top: 0;
    width: 50%;
    margin: 0 auto;
   
}

.texte{
    position: relative;
    bottom: 0;
    color: blue;
    z-index: 5;
    font-size: 1.3rem;
    margin-top: 10%;
    width: 50%;
}

.titre{
    text-align: center;
    font-size:2rem;

}

#root{
    width: 50%;
}
.arriere_description{
    width: 60%;
    margin: 10%;
    font-size: 1rem;
    padding-left: 2rem;
}
body{
    background-color: black;
}